@model IEnumerable<Carsweb.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}
 <!--these might be a little redundant-->
<h1>Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
                <td>
                    <a asp-action="Details" asp-route-id="@customer.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>